#page {
    width: 100vw;
    height: 100vh;

    position: relative;
    display: flex;
    flex-direction: column;
}

#page #title {
    padding: 0 20px;
}

#page .map-popup .leaflet-popup-content-wrapper{
    background: rgba(255, 255, 2555, 0.8);
    border-radius: 20px;
}

#page .map-popup .leaflet-popup-content {
    font-size: 20px;
    font-weight: bold;
    margin: 8px 12px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}



#page .map-popup .leaflet-popup-content a {
    width: 40px;
    height: 40px;
    background: #f1f1;
    box-shadow: 17.2868px 27.6589px 41.4884px rgba(23, 142, 166, 0.16);
    border-radius: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#page .map-popup .leaflet-popup-tip-container {
    display: none;
}
